/* Start global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    -webkit-locale: "en";
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
    color:#eee;
}

body {
    
    height: 100%;
    
    
}
.main{
  background:url("../img/dark.jpg");
}

section {
    padding: 7rem 0;
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    

}
.gallery{
    margin: 10px 50px;
}
.gallery img{
    width: 230px;
    padding: 5px;
    height: 150px;
    filter: grayscale(100%);
}
.gallery img:hover{
    filter: grayscale(0%);
}
.bg{
    background:url("../img/bg.jpg");
    background-size: cover;
    height: 100vh;
}
.google{
    width: 100px;
}

a {
    text-decoration: none;
    color: #eee;
}

p {
    font-size: 1.8rem;
    font-weight: 300;
    color: #ffffff;
}

img {
    width: 100%;
    max-width: 100%;
}

/* End global */
/* Start reusable */
.container {
    width: 90%;
    max-width: 120rem;
    height: 100%;
    margin: 0 auto;
    position: relative;
    
    

}

.section-heading {
    text-align: center;
    margin-bottom: 10rem;
   
}

.section-heading h1 {
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-weight: 300;
    position: relative;
    margin-bottom: 1rem;
}

.section-heading h1::before{
    content: '';
    position: absolute;
    width: 10rem;
    height: 3px;
    border-radius: .8rem;
    bottom: -.5rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
}

.section-heading h6 {
    font-size: 1.9rem;
    font-weight: 300;
    color: #eee;
}

.has-margin-right {
    margin-right: 5rem;
}
.portfolio-item .portfolio-description h1{
    color: #eee;
}
.portfolio-item .portfolio-description h6{
    color:rgba(255, 255, 255, 0.8);
    font-size: 3rem;
}
.has-margin-left {
    margin-left: 5rem;
}
.prof{
    height:200px;
    width: 200px;
    border-radius: 50%;
}
/* End reusable */
/* Start header */
header {
    width: 100%;
    height: 100vh;
}

.top-nav {
    
}

.nav-list {
    list-style: none;
    background-color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    margin: 0 2rem;
}

.nav-list {
    font-family:  'Dancing Script', cursive;
    font-size: 3rem;
    padding: 1rem;
    -webkit-background-clip: text;
}

.nav-link:hover,
.nav-link:focus {
    background: linear-gradient(to top, #ffe838, #fd57bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-nav.open {
    top: 0;
    border-radius: initial;
}

.menu-toggler {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 5rem;
    height: 4rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    z-index: 1500;
    transition: transform 650ms ease-out;
}

.menu-toggler.open {
    transform: rotate(-45deg);
}

.bar {
    background: linear-gradient(to right, #ffe838, #fd57bf);
    width: 100%;
    height: 4px;
    border-radius: .8rem;
}

.bar.half {
    width: 50%;
}

.bar.start {
    transform-origin: right;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.start {
    transform: rotate(-450deg) translateX(.8rem);
}

.bar.end {
    align-self: flex-end;
    transform-origin: left;
    transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.open .bar.end {
    transform: rotate(-450deg) translateX(-.8rem);
}

.landing-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    z-index: 1;
    
}

.landing-text h1 {
    font-size: 15rem;
    font-family: 'Dancing Script', cursive;
    background: linear-gradient(#fd57bf, #ffe838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 1rem;
    user-select: none;
}

.landing-text h6 {
    font-size: 3rem;
    font-weight: 350;
    color: #eee;
}

/* End header */
/* Start about */
.about .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-heading {
    margin-top: 10rem;
    /* extra */
    text-align: center;
    text-transform: uppercase;
    line-height: 0;
    margin-bottom: 6rem;
}

.about-heading h1 {
    font-size: 10rem;
    opacity: .4;
    color: #eee;
}

.about-heading h6 {
    font-size: 2rem;
    font-weight: 400;
}

.profile-img {
    flex: 1;
    margin-right: 5rem;
}

.about-details {
    flex: 1;
}

.social-media {
    margin-top: 5rem;
}

.social-media i {
    font-size: 5rem;
    transition: color 650ms;
}
#crd{
    padding: 50px 50px 50px 50px;
    margin-top: 70px;
    border:1px solid;
    box-shadow: 5px 10px #888888;
    
}

.fa-facebook-square:hover {
    color: #4267b2;
}

.fa-github-square:hover {
    color: #F1502F;
}

.fa-instagram:hover {
    background: linear-gradient(#fd57bf, #ffe838);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fa-linkedin:hover {
    color: #0077B5;
}

/* Start services */
.my-skills {
    margin-top: 10rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    text-align: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.skill h1 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 2rem -2px 2rem 0;
}


.icon-container {
    width: 10rem;
    height: 10rem;
    border: 3px solid #ffe838;
    background-color: #fd57bf;
    margin-bottom: 2rem;
    display: flex;
    transform: rotate(45deg);
}

.icon-container i {
    color: #ffe838;
    font-size: 5rem;
    margin: auto;
    transform: rotate(-45deg);
}

/* End services */

/* Start portfolio */
.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.portfolio-item:last-child {
    margin-bottom: 0;
}

.portfolio-img{
    flex: 1;
}

.portfolio-description{
    flex: 1;
}

.portfolio-description h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: 1rem 0;
}

.portfolio-description h6 {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    opacity: 0.3;
}

.portfolio-description .cta {
    display: inline-block;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: #3883ff;
    transition: color 650ms;
}

.portfolio-description .cta:hover {
    color: #2f67cd;
}

/*start timeline */
.timeline ul {
    border-left: 4px solid #ffe838;
    /*yellow */
    border-radius: .8rem;
    background-color: rgba(0, 0, 0, 0.05);
    margin: 0 auto;
    position: relative;
    padding: 5rem;
    list-style: none;
    text-align: left;
    width: 70%;
}

.timeline h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 1rem;
    opacity: .3;
}

.timeline ul .date p {
    color: #ffffff;
}

.timeline .date {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    color: #ffffff;
    position: relative;
}

.timeline .date:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}

.timeline .date::before,
.timeline .date::after {
    position: absolute;
    display: block;
    top: 50%;
    transform: translateY(-50%);
}

.timeline .date::before {
    content: attr(data-date);
    left: -21rem;
    text-align: right;
    min-width: 12rem;
    font-size: 1.5rem;
}
.bottom-img{
	width:100%;
}
.timeline .date::after {
    content: '';
    box-shadow: 0 0 0 4px #fd57bf;
    border-radius: 100%;
    left: -8rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #313534;
}

/*end timeline */
/*start contact */
.contact {
    background: inherit;
    margin-bottom: 30px;
    
}
.contact::before{
    box-shadow:inset 0 0 1rem 0 rgba(0,0,0,.2) ;
    filter: blur(200px);
    background: inherit;
}

form {
    width: 70%;
    margin: 0 auto;
    
   
}

form label {
    font-size: 1.5rem;
    color: #eee;
}

input,
select,
textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 5px;
    border: none;
    outline-color: #fd57bf;
}

input[type="submit"] {
    width: initial;
    background-color: #fd57bf;
    color: #eee;
    padding: 1rem 2rem;
    border-radius: .8rem;
    cursor: pointer;
    transition: background-color 650ms;
}

input[type="submit"]:hover {
    color: #221e3f;
    background-color: #ffe838;
}

/*end contact */
/* footer */
.copyright {
    width: 100%;
    text-align: center;
    background-color: #16162d;
    padding: 2rem 0;
    position: relative;
}

.up {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #eee;
    top: -2.5rem;
    right: 5rem;
    border-radius: 100%;
    display: flex;
    animation: pulse 2s infinite;
    cursor: pointer;
}

.up i {
    color: #16162d;
    font-size: 2rem;
    margin: auto;
}

.copyright p {
    font-size: 1.4rem;
}

.content{
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.main-text{
	width:500px;
}
.main-text h1{
	font-size: 3.5rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 60px;
}
.main-text p{
	color:#747474;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
    box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
    margin-top: 20px;
}
.portfolio-btn:hover{
	background-color: #23cdaf;
	transition: all ease 0.2s;
}
.row{
    width: 200px;
    perspective: 700px;
    margin: auto;

}
.proem{
    width: 800px;
    height: 400px;
}
.card-header{
    color: #eee;
}

.img-slider{
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    background: #1D212B;
    margin-bottom: 50px;
    
  }
  
  .img-slider .slide{
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .img-slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
    transition-property: clip-path;
  }
  
  .img-slider .slide img{
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    filter: grayscale(100%);
  }
  .img-slider .navigation{
    z-index: 2;
    position: absolute;
    display: flex;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .img-slider .navigation .btm{
    background: rgba(255, 255, 255, 0.5);
    width: 12px;
    height: 12px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .img-slider .navigation .btn.active{
    background: #2696E9;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  }
  



ig:hover{
    transform: scale(1.2);
    transition: all 300ms;
}



/* end footer */
/* start animation */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
    }

    70% {
        box-shadow: 0 0 0 2rem rgba(253, 87, 191, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
    }
}
@media(max-width:1140px){
	.content{
		width:100%;
	}
	.model{
		width:400px;
		height: 400px;
	}
	.main-text,.model{
		margin:10px;
	}
	.main-text h1{
		font-size:3rem;
	}
/* end animation

/* media queries */
@media(max-width:720px){
	.content{
        flex-direction: column;
        position: relative;
    }
	.main-text{
		width:70%;
		position:relative;
		
		top:50%;
		
		
    }
    .model{
        width: 95%;
        height: 95%;
        margin: 0 0 auto 0;
    }
    

@media screen and (max-width:768px) {

    /* End portfolio */
    body {
        background:rgb(47,79,79) no-repeat center fixed;
        background-size: cover;
    }
    .menu-toggler{
        display: flex;
        top: 2rem;
        right: 2rem;
        position: fixed;
    }
    .top-nav{
        width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index: 1000;
    }


    .landing-text h1{
        font-size: 15rem;
    }

    .landing-text h6{
        font-size: 1.7rem;
    }

    .nav-list{
        flex-direction: column;
    }

    li{
        margin: 2rem 0;
    }

    .nav-link{
        font-size: 4.5rem;
    }

    .about-heading h1{
        font-size: 8rem;
    }

    .section-heading h1{
        font-size: 3rem;
    }

    .about-details .nav-list{
        flex-direction: initial;
    }

    .about-details li{
        margin: 0 2rem;
    }

    .icon-container{
        width: 7rem;
        height: 7rem;
    }

    .icon-container i{
        font-size: 4rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before{
        left: -19rem;
    }
    .timeline .date::after{
        left: -5.9rem;
    }
    
}

@media screen and (max-width: 600px){

    .menu-toggler{
        display: flex;
        top: 2rem;
        right: 2rem;
        
    }
    .top-nav{
        width: 100%;
    height: 100vh;
    position: fixed;
    top: -100vh;
    
    background-color: #16162d;
    border-bottom-right-radius: 100%;
    border-bottom-left-radius: 100%;
    transition: all 650ms cubic-bezier(1,0,0,1);
    z-index: 1000;
    }

    .landing-text h1{
        font-size: 8rem;
    }

    .landing-text h6{
        font-size: 1.4rem;
    }

    .nav-link{
        font-size: 3.5rem;
    }

    .about .container{
        flex-direction: column;
    }

    .profile-img{
        width: 95%;
        height: 95%;
        margin: 0 0 auto 0;
    }

    .portfolio-item{
        flex-direction: column;
    }

    .portfolio-img{
        margin: 0 0 2rem 0;
        order: 1;
    }
    .portfolio-description{
        margin: 0;
        order: 2;
    }

    .timeline p{
        font-size: 1.6rem;
    }

    .timeline .date::before{
        font-size: 1.4rem;
    }

    form{
        width: 100%;
    }

    .up{
        right: 2rem;
    }
}
@media (max-width: 820px){
    .img-slider{
      width: 600px;
      height: 375px;
    }
  
    
  
    .img-slider .navigation{
      bottom: 25px;
    }
  
    .img-slider .navigation .btm{
      width: 10px;
      height: 10px;
      margin: 8px;
    }
  }
  
  @media (max-width: 620px){
    .img-slider{
      width: 400px;
      height: 250px;
    }
  
    .img-slider .slide .info{
      padding: 10px 20px;
    }
  
    .img-slider .slide .info h2{
      font-size: 30px;
    }
  
    .img-slider .slide .info p{
      width: 80%;
      font-size: 13px;
    }
  
    .img-slider .navigation{
      bottom: 15px;
    }
  
    .img-slider .navigation .btm{
      width: 8px;
      height: 8px;
      margin: 6px;
    }
  }
  
  @media (max-width: 420px){
    .img-slider{
      width: 320px;
      height: 200px;
    }
  
    .img-slider .slide .info{
      padding: 5px 10px;
    }
  
    .img-slider .slide .info h2{
      font-size: 25px;
    }
  
    .img-slider .slide .info p{
      width: 90%;
      font-size: 11px;
    }
  
    .img-slider .navigation{
      bottom: 10px;
    }
  }
        
